# Configuration pour le proxy Docker (Nginx + Let's Encrypt + DynDNS)

# Votre nom de domaine
DOMAIN=jdr.votre-domaine.fr

# Votre adresse email (pour Let's Encrypt / Certbot)
EMAIL=votre-email@gmail.com

# Configuration DynDNS (Exemple pour OVH DynHost)
# Laissez vide si vous n'utilisez pas de DynDNS
DYNHOST_USER=votre-domaine.fr-jdr
DYNHOST_PASS=le-mot-de-passe-dynhost
